* {
    font-family: 'Irish Grover', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Righteous&family=Sarala&display=swap');

body {
    background-color: aqua;
}

.cabecalho {
    font-family: 'Irish Grover', cursive;
    background-image: linear-gradient(to top rgba(#C07834 #958A86 #F6B714));
}

